[BEGINVDF]
Comment=Collection of spells to make the life of a mage easier (Gothic, Gothic Sequel, Gothic 2 and Gothic 2 NotR)%%NLock picking scrolls are available from traders and in chests that contain lock picks%%NMana-for-life rune (magic circle 3) is placed in the player's inventory
BaseDir=.\
VDFName=.\FirstMageKit.vdf

[FILES]
; Resources (list the specific files from _work here)
_work\* -r

; Script files
Ninja\FirstMageKit\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
empty -r
*.vm
*.vdf
*.bat
.gitignore
.git

[INCLUDE]

[ENDVDF]
